*.metadata
*.class
*.classpath
*.project
*.settings
*.pydevproject
*.fxs
*.log
*.log.idx
*.log.siz
*.log.1
*.data
*.db
*confd-cdb/
*build/
*ssh-keydir
*bak
*~
bin
pyang
jnc/lib
*JPyang.java

**/.idea
**/*.iml
