*.metadata
*.class
*.classpath
*.project
*.settings
*.pydevproject
*.fxs
*.log
*.log.idx
*.log.siz
*.log.1
*.data
*.db
*confd-cdb/
*build/
*ssh-keydir
*bak
*asc
*~
bin
pyang
*JPyang.java
jnc/lib
jnc/dist
jnc/target

**/.idea
**/*.iml
