=========================================================================

    Tail-f ConfM for Windows

    ConfM is a Java-based software application that allows developers
    to augment their EMS/NMS applications with support for southbound
    NETCONF sessions and additional powerful configuration management
    functions.

    For further information about Tail-f ConfM, see
    http://www.tail-f.com

    Copyright Tail-f Systems AB 2005-2012

=========================================================================

Prerequisties
~~~~~~~~~~~~~

* A computer with Intel x86 compatible 32-bits processor
* Windows XP or Vista
* Java JDK version 1.5 or later
* ant program (to build our examples). (ant.apache.org)


Installation
~~~~~~~~~~~~

ConfM is delivered as a Windows installation program. 

To install ConfM on your Windows machine, simply execute the installation
program.



Setting up Your Environment
~~~~~~~~~~~~~~~~~~~~~~~~~~~

You need to define the JAVA_HOME and ANT_HOME environment variables, e.g. in
your C:\AUTOEXEC.BAT file as well as adding the PATH to the ant program to
your PATH variable.

Example:
  c:\>type autoexec.bat
  SET JAVA_HOME=C:\Program\Java\jdk1.6.0_07
  SET ANT_HOME=C:\Program\apache-ant-1.7.1
  SET PATH=%ANT_HOME%\bin;%PATH%

  c:\>

All ConfM related environment variable are set by the ConfM 
installer.

ConfM Documentation
~~~~~~~~~~~~~~~~~~~

All documentation is found as shortcuts from the Start Menu.

The ConfM User Guide is the recommended starting point for new users. It is
installed in: @@INSTALLDIR@@\doc\user_guide.pdf

The Javadoc documentation describes ConfM's API in detail. It is installed in:
@@INSTALLDIR@@\doc\javadoc\index.html


Furthermore, ConfM includes confdc from the ConfD Development Tools kit which
is included in this installation. The documentation is installed in:
@@INSTALLDIR@@\doc.


Examples
~~~~~~~~

ConfM comes with a couple of examples located in @@INSTALLDIR\examples. Each
examples has a README file that describes how the example is built and
executed. Some examples are also further explained in the user guide.
