=========================================================================

    Tail-f INM

    Instant NETCONF Manager (INM) is a Java Library that allows
    developers to rapidly integrate a fully featured NETCONF module
    into existing element management systems.

    For further information about Tail-f INM, see http://www.tail-f.com

    Copyright Tail-f Systems AB 2005-2012

=========================================================================

Installation
~~~~~~~~~~~~

ConfM is delivered as an archive file. Documentation is delivered in a
separate archive file. Both files are compressed via tar and gzip program.

To install ConfM on your system, simply unpack these archive files, e.g.

  $ cd <your ConfM installation path>
  $ gunzip confm-<version>.<platform>.tar.gz
  $ tar xvf confm-<version>.<platform>.tar

And the documentation:

  $ gunzip confm-<version>.doc.tar.gz
  $ tar xvf confm-<version>.doc.tar


Setting up Your Environment
~~~~~~~~~~~~~~~~~~~~~~~~~~~

The JAR files have been generated with SUN's JDK-1.5 The JAR files
have been verified to work with SUN's JDK 1.5 or better.

INM Documentation
~~~~~~~~~~~~~~~~~

The INM User Guide is the recommended starting point for new users.

    PDF: inm-<version>/doc/user_guide.pdf

The Javadoc documentation describes CofnfM's API in detail:

    HTML: inm-<version>/doc/javadoc/index.html

Examples
~~~~~~~~

To understand the examples under inm-<version>/examples/ please read
the User Guide.

Support
~~~~~~~

If you are evaluating INM, you should have a designated support
contact. You are also welcome to mail eval-support@tail-f.com.

If you have a INM support agreement, please use the support channels
specified in the agreement. You are also welcome to mail
support@tail-f.com.

In either case, please, do not hesitate to send us any questions or
feedback you may come up with.
