

html {margin: 0; padding: 0;}

body {
    font: 12px Verdana,Arial, Helvetica, sans-serif;
    margin-left: 90px; 
    margin-right: 90px; 
    padding: 0;
#   background: rgb(95%,95%,95%); color: black;
   padding:35;
}

h1 {font-size: 200%;  letter-spacing: 3px;
    text-align: center;
    font-variant: small-caps;
    margin: 0em 0 0.83em 2%; padding: 0;}


h2 {font-size: 173%; margin: 0; padding: 0; 
	   margin: 28px 5px 32px 0px;
    font-variant: small-caps;	 
	   border-bottom: 1px solid black;}

h3 {font-size: 133%; margin: 0; padding: 0; 
	   margin: 18px 5px 2px 0px;
    font-variant: small-caps;
   border-bottom: 1px solid black;}

h4 {font-size: 100%; margin: 0; padding: 0 0 0;
   border-bottom: 1px solid rgb(50%,50%,35%);
	   margin: 18px 5px 2px 0px;
    font-variant: small-caps;
   color: rgb(50%,50%,35%);}


h5 {font-size: 100%; margin: 0; padding: 0 0 0;
    font-variant: small-caps;
   color: rgb(50%,50%,35%);}

p {line-height: 1.36; margin: 0.5em 0 1em 0em;}



div.links {
    background: green;
  }

div.box { margin: 10px;
        }
div.prebox { margin-left: 15px;
	     margin-bot: 20px;
             border: solid; border-width: thin;
	     padding-left: 10px;
             font-family:      "Courier New",Courier,monospace;
	     width: 95%;
	     margin-top: 0px;}

div.image { margin-left: 150px;
	    margin-top:  30px;
	    margin-bot:  30px;
	    width:	 400px;
}

div.center {text-align: center;}
div.abstr {margin-left: 200px;}

div.deflist { margin: 30px; }



div.box pre {margin: 0.66em 0 0.33em 1%; padding: 0;
    font-family:      "Courier New",Courier,monospace;
}

div.none { }



.emphasis { font-style: italic;}


.infohead {
	font-size: 0.80em;	
	font-family: sans-serif, Verdana, Arial, Helvetica;
/*	padding: 0.25em; */
	padding-top: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
	padding-right: 0em;
	margin: 30px;
/*	color: #ffffff;*/
/*	background-color: #f1f1f1;*/
	font-weight: bold;
}



li {margin-bottom: 5px; margin-left: 0px;}
ol,ul,dl {margin-top: 5px; margin-left: -20px;}
