<hosts xmlns="http://tail-f.com/ns/simple/1.0" xmlns:simple="http://tail-f.com/ns/simple/1.0">
   <host>
      <name>kalle</name>
      <enabled>true</enabled>
      <numberOfServers>12</numberOfServers>
      <encryption>sha256</encryption>
      <address>192.168.0.1</address>
      <mtu>1024</mtu>
      <flags>compressed dirty</flags>
      <servers>
         <server>
            <ip>192.168.10.1</ip>
            <port>1025</port>
            <id>server_id1</id>
            <qos>123</qos>
         </server>
      </servers>
      <baud-rate>9600</baud-rate>
      <secPort>5001</secPort>
      <secPort2>2100</secPort2>
      <gzz>5002</gzz>
      <alist>12 14 35 42 105</alist>
      <highPriorityServer>
         <ip>127.0.0.1</ip>
         <port>4001</port>
      </highPriorityServer>
      <lowPriorityServer>
         <ip>10.10.0.1</ip>
         <port>4002</port>
      </lowPriorityServer>
   </host>
</hosts>
