######################################################################
# JAVA NETCONF MANAGER LIBRARY Test
# (C) 2007 Tail-f Systems
#
######################################################################

include ../../../vsn.mk

# CONFD_DIR and CONFM_DIR must be set previously for all of this to work
# best way is to source the rc scrips fond the top of conf{d,m}
# installations

. ../../vsn.mk

check:
	@if [ -z "$${CONFD_DIR}" -o -z "$${CONFM_DIR}" ]; then \
           echo "*** Need to set CONFD_DIR and CONFM_DIR to run tests "; \
           echo "*** make all|test|clean "; exit 1; \
           exit 1; \
        fi
 

ASP=$(HOME)/.m2/repository/org/aspectj/aspectjrt/1.6.5/aspectjrt-1.6.5.jar
LOG4J=$(HOME)/.m2/repository/log4j/log4j/1.2.14/log4j-1.2.14.jar
JARFILE=$(CONFD_DIR)/java/mvnrepos/com/tailf/conf-api/$(CONFDVSN)/conf-api-$(CONFDVSN).jar
CLASSPATH=$(JARFILE):$(ASP):$(LOG4J):$(CONFM_DIR)/jar/INM.jar:$(CONFM_DIR)/jar/ConfM.jar:$(CONFM_DIR)/jar/ganymed/ganymed-ssh2-build251beta1.jar:.

CDB_DIR= ./confd-cdb
CONFD= $(CONFD_DIR)/bin/confd
CONFDC= $(CONFD_DIR)/bin/confdc
CONFMC= $(CONFM_DIR)/bin/confdc
JAVAC=javac
JAVA=java
PYANG=$(CONFM_DIR)/bin/pyang
